<style>
  .crt-container {
    margin-top: {{section.settings.margin_top}};
  }
  
  
  @media screen and (max-width: 990px) {
    .crt-container {
      margin-top: {{section.settings.margin_top_mobil}};
    }
  }
  
</style>

<div class="page-width crt-container">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
	    {%- when 'heading' -%}
    		<h2 style="text-align: {{block.settings.heading_position}}" class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
  		{%- when 'text' -%}
            <div class="rich-text__text rte" style="text-align: {{ block.settings.position }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
  	{%- endcase -%}
  {%- endfor -%}
  

</div>


{% schema %}
{
  "name": "custom-rich-text",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
		{
          "type": "text",
          "id": "margin_top",
          "default": "0",
          "label": "Margin Top"
        },
		{
          "type": "text",
          "id": "margin_top_mobil",
          "default": "0",
          "label": "Margin Top Mobil"
        }
  ],
  "blocks": [
	    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        },
		{
          "type": "select",
          "id": "heading_position",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ],
          "default": "center",
          "label": "Position"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
        "type": "select",
        "id": "position",
        "options": [
          {
          "value": "left",
          "label": "left"
          },
          {
          "value": "center",
          "label": "center"
          },
          {
          "value": "right",
          "label": "right"
          },
		  {
          "value": "justify",
          "label": "justify"
          }
        ],
        "default": "left",
        "label": "position"
        }
      ]
    }

  ],
  "presets": [
    {
      "name": "Custom Rich Text"
    }
  ]
}
{% endschema %}
