<style>

    .image-grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 100px 100px 100px;
        /*grid-auto-rows: 300px;*/
    }

    .image-grid-item {
        display: flex;
        flex-direction: column;
    }

    .image-grid-item > img {
        object-fit: cover;
        border: 1px solid black;
    }

</style>

<div class="page-width">

    {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        <h1>{{block.settings.title}}</h1>

        <div class="image-grid-container">
            {% for product in collections[collection.handle].products %}
                <div class="image-grid-item">
                    <img src="{{ product.images[0].src | image_url: width: 500 }}"
                         width="150"
                         height="150"
                         alt="{{ product.title }}"
                    />
                    <div>{{ product.title }}</div>
                    {% if section.settings.price %}
                        <div>{{ product.variants[0].price | money }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {%- endfor -%}
</div>


{% schema %}
  {
    "name": "custom-collection-list",
    "settings": [
    {
      "type": "checkbox",
      "id": "price",
      "label": "Show price",
      "default": true
    }
  	],
	"blocks": [
        {
          "type": "collection",
          "name": "Collection",
          "settings": [
            {
              "label": "Title",
              "id": "title",
              "type": "text",
              "default": "Title"
            },
            {
              "label": "Collection",
              "id": "collection",
              "type": "collection"
            }
          ]
        }
      ],
    "presets": [
      {
        "name": "Custom Collection List"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
