<style>

    .image-grid-item-image-container {
        position: relative;
        top: 0;
        left: 0;
    }

    .image-grid-item-image-container > svg {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
    }

    .image-grid-title {
        font-size: 3rem;
        margin-bottom: 50px;
        border-bottom: 1px solid var(--gray);
    }
    .image-grid-container {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*grid-auto-rows: 300px;*/
        margin-bottom: 100px;
    }

    @media screen and (max-width: 990px) {
        .image-grid-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    .image-grid-item {
        display: flex;
        flex-direction: column;
    }

    .image-grid-item > h4 {
        font-weight: bold;
    }

    .image-grid-item-image {
        object-fit: cover;
        border: 1px solid var(--gray);
        width: 100%;
        height: 300px;
        border-radius: 20px;
        position: relative;
        top: 0;
        left: 0;
    }

    .button--cart {
        margin: 20px 60px;
    }

    .button--cart > svg {
        width: 50px;
        height: 50px;
    }

</style>

<div class="page-width">

    {%- liquid
        render 'snackbar'
    -%}

    {% for block in section.blocks %}
        {%- assign collection = collections[block.settings.collection] -%}
        {% if collections[collection.handle].products.size > 0 %}
            <h1 class="image-grid-title">{{block.settings.title}}</h1>
            <div class="image-grid-container">
                {% for product in collections[collection.handle].products %}
                    <div class="image-grid-item">
                        <div class="image-grid-item-image-container">
                            <img class="image-grid-item-image"
                                 src="{{ product.images[0].src | image_url: width: 500 }}"
                                 alt="{{ product.title }}"
                            />

                            {% if section.settings.like %}
                                {% render 'icon-heart' %}
                                {% comment %}<img{% endcomment %}
                                     {% comment %}class="like-image"{% endcomment %}
                                     {% comment %}src="{{ 'heart-solid.svg' | asset_url }}"{% endcomment %}
                                     {% comment %}alt=""{% endcomment %}
                                {% comment %}/>{% endcomment %}
                            {% endif %}
                        </div>


                        <h4 class="center" style="margin-bottom: 0; margin-top: 10px; font-weight: bold">{{ product.title }}</h4>
                        {% if section.settings.price %}
                            <div class="center">{{ product.variants[0].price | money }}</div>
                        {% endif %}

                        {% if section.settings.chart %}
                            {% comment %}<button id="buy-{{ product.variants.first.id }}"{% endcomment %}
                                    {% comment %}class="button button--secondary button--cart"{% endcomment %}
                                    {% comment %}style="display: flex; padding: 0"{% endcomment %}
                                    {% comment %}onclick="addToChart('{{ product.variants.first.id }}', '{{ product.title }}')"{% endcomment %}
                            {% comment %}>{% endcomment %}
                                {% comment %}{% render 'icon-cart' %}{% endcomment %}
                                {% comment %}Añadir{% endcomment %}
                            {% comment %}</button>{% endcomment %}

                            <a href="/products/{{product.handle}}"
                                    class="button button--secondary button--cart"
                                    style="display: flex; padding: 0"
                            >
                                Detalles
                            </a>
                        {% endif %}


                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {%- endfor -%}
</div>

<script>
    function toggleLike(id) {
        console.log("like", id);
    }
</script>

<script>
    const addToChart = async (productId, title) => {
        const buyButton = document.getElementById(`buy-${productId}`);
        buyButton.disabled = true;

        try {
            const payload = {
                items: [{
                    id: productId,
                    quantity: 1,
                }]
            };

            const rawResponse = await fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload),
            });

            const content = await rawResponse.json();
            showSnackbar(`${title} ha sido añadido al carrito.`);
            console.log(content);

        } catch (e) {
            showSnackbar(`Error`);
        } finally {
            buyButton.disabled = false;
        }
    };
</script>

{% schema %}
  {
    "name": "custom-collection-list",
    "settings": [
    {
      "type": "checkbox",
      "id": "price",
      "label": "Show price",
      "default": true
    },
    {
        "type": "checkbox",
        "id": "chart",
        "label": "Show cart",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "like",
        "label": "Show like Button",
        "default": false
    }
  	],
	"blocks": [
        {
          "type": "collection",
          "name": "Collection",
          "settings": [
            {
              "label": "Title",
              "id": "title",
              "type": "text",
              "default": "Title"
            },
            {
              "label": "Collection",
              "id": "collection",
              "type": "collection"
            }
          ]
        }
      ],
    "presets": [
      {
        "name": "Custom Collection List"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
